.DS_Store
.vscode/c_cpp_properties.json
projetoSO/.vscode/c_cpp_properties.json
.vscode/launch.json
projetoSO/.vscode/settings.json
projetoSO/.vscode/launch.json
.vscode/settings.json
projetoSO/kvs.dSYM/Contents/Resources/DWARF/kvs
projetoSO/kvs.dSYM/Contents/Info.plist
projetoSO/kvs.dSYM/Contents/Resources/Relocations/aarch64/kvs.yml
projetoSO/kvs
projetoSO/kvs.o
projetoSO/parser.o
projetoSO/operations.o
coisas.docx
~$coisas.docx
projetoSO/parte2/proj_SO24-25-p2/src/server/jobs/one.out
projetoSO/parte2/proj_SO24-25-p2/src/server/jobs/two.out
projetoSO/parte2/proj_SO24-25-p2/src/server/jobs/one.out
